html, body {
    text-align: center;
    color: #444;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(200,200,200,0.75);
    min-height: 100vh;
    background-color: #eee;
    background-image: url('/images/light_bg.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
    min-width: 1200px;
}
#content {
    padding-bottom: 10em;
}
a {
    text-decoration: none;
}
button:focus{
    outline: none;
}
#header {
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #333;
    background-color: rgba(50, 50, 50, 0.9);
    padding: 0;
    border-bottom: 1px solid #b71c1c;
    border-color: rgba(183, 28, 28, 0.8);
    -webkit-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
    transition: background-color 0.3s, border-color 0.3s;
}
#header:hover {
    background-color: #333;
    border-color: #b71c1c;
}
#header a {
    color: #fff;
    display: inline-block;
    padding: 1.1em 2em;
    text-transform: uppercase;
    font-size: 0.9em;
    text-shadow: 1px 1px 1px rgba(200,200,200,0.75);
}
#header a:hover {
    background-color: #222;
    background-color: rgba(40, 40, 40, 0.7);
}
#welcome_link {
    float: left;
    margin: 0em 3em;
}
#welcome_link img {
    height: 2.2em;
    margin: -0.5em 0em -0.8em 0em;
}
#h_r_link {
    margin-right: 3em;
}
/* About */
#about_top {
    background-color: #666;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(/images/darker_bg.jpg);
    background-size: 100% 100%;
    padding: 7em 10% 3em 10%;
    color: #fff;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}
#about_photo {
    display: inline-block;
    height: 15em;
    margin-right: 3em;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
#about_top_intro {
    display: inline-block;
    vertical-align: top;
    max-width: 70%;
}
#about_top_intro p1 {
    display: block;
    margin: 0em 0em 1em 0.5em;
}
#about_top_intro p, 
#about_top p {
    text-indent: 0.5em;
}
#about_ps {
    font-size: 0.9em;
}
.switch_dir_h3 {
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.8);
    color: #eee;
    padding: 3em 4em 2em 6em;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    margin: 0em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}
.sw_d_hr {
    margin: 1.2em 0em 0.7em -2.5em;
    border: 1px solid #222;
    border-top: 1px solid #b71c1c;
    border-top-color: rgba(183, 28, 28, 0.8);
}
#sw_d_btn, 
#exp_all_btn,
#cl_all_btn {
    font-size: 0.7em;
    margin-left: 2em;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    color: #bbb;
}
#exp_all_btn,
#cl_all_btn {
    margin-left: 7em;
    transition: opacity 0.2s
}
.cl_exp_btn_inact {
    opacity: 0.1;
    pointer-events: none;
}
#sw_d_btn:hover, 
#exp_all_btn:hover,
#cl_all_btn:hover {
    color: #ddd;
}
#sw_d_sp {
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.3em;
    margin-left: 0.4em;
    font-size: 1.4em;
}
#exp_all_sp,
#cl_all_sp {
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.2em;
    margin-left: 0.6em;
    font-size: 1.4em;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    text-shadow: 1px -1px 1px rgba(0,0,0,0.75);
}
#cl_all_sp {
    margin-top: -0.1em;
}
#events_div, #events_div_opp {
    text-align: left;
}
#events_div_opp {
    display: none;
}
.event_cont {
    padding: 0em 5em;
    //background-color: #eee;
    //border: 1px solid #fff;
    text-shadow: 1px 1px 1px rgba(240,240,240,0.75);
}
.event_h3 {
    margin: 0;
    margin-top: 2.5em;
    padding-left: 3em;
    cursor: pointer;
}
.event_h_sep {
    margin: auto 0.5em;
    color: #999;
    font-weight: normal;
}
.event_h_hr {
    margin: 1.5em auto 0.5em auto;
    //border: 1px solid #999;
    //border-top: 1px solid #b71c1c;
    //border-top-color: rgba(183, 28, 28, 0.8);
}
.event_desc {
    display: none;
}

/* Slider */
#slider_div {
    width: 100%;
    position: relative;
    background-color: #666;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(/images/darker_bg.jpg);
    background-size: 100% 100%;
    padding-top: 2.5em;
    padding-bottom: 1em;
    opacity: 0;
    transition: opacity 0.3s;
}
.slide_img_div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2.5em;
    left: 0;
}
.mySlides {
    width: 100%;
    display: none;
}
#def_f_slide {
    display: block;
}
#slide_control_img {
    width: 100%;
    opacity: 0;
}
#slider_controls {
    position: absolute;
    width: 100%;
    bottom: 2em;
    left: 0;
}
.slide_s {
    display: inline-block;
    vertical-align: bottom;
    border: 1px solid #eee;
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
    width: 0.5em;
    height: 0.5em;
    cursor: pointer;
    margin: 2px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
}
.slide_s_selected {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
}
#slider_arrows {
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
}
.display-left, .display-right {
    border: none;
    background-color: #eee;
    background-color: rgba(0, 0, 0, 0);
    color: #aaa;
    font-size: 3em;
    padding: 0.6em;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
.display-left:hover {
    color: #ccc;
    text-shadow: 1px 0px 2px rgba(0,0,0,0.75);
}
.display-right:hover {
    color: #ccc;
    text-shadow: -1px 0px 2px rgba(0,0,0,0.75);
}
.display-left:active, .display-right:active {
    color: #ccc;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.75);
}
.display-left {
    float: left;
}
.display-right {
    float: right;
}
/* Projects */
#all_projects_div {
    opacity: 0;
    transition: opacity 0.3s;
}
.pr_h_h3 {
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.8);
    color: #eee;
    padding: 3em 4em 2em 6em;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    margin: 0;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}
.pr_h_desc {
    font-size: 0.8em;
    font-weight: normal;
}
.pr_h_hr {
    margin: 1em 0em 0.5em -2.5em;
    border: 1px solid #222;
    border-top: 1px solid #b71c1c;
    border-top-color: rgba(183, 28, 28, 0.8);
}
#new_projects,
#fccfe_projects,
#fccdv_projects,
#fccbe_projects {
    padding-bottom: 4.5em;
    padding-top: 3em;
}
.project_div {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 1% 2em 1%;
    position: relative;
}
.cert_div {
    width: 24%;
    margin: 0 4% 2em 4%;
}
.project_img {
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
    box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
}
.project_img_back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    background-color: #333;
    background-color: rgba(50, 50, 50, 0.9);
    //background: -webkit-linear-gradient(-45deg, rgba(30, 30, 30, 0.95), rgba(50, 50, 50, 0.95)); /* For Safari 5.1 to 6.0 */
    //background: -o-linear-gradient(-45deg, rgba(30, 30, 30, 0.95), rgba(50, 50, 50, 0.95)); /* For Opera 11.1 to 12.0 */
    //background: -moz-linear-gradient(-45deg, rgba(30, 30, 30, 0.95), rgba(50, 50, 50, 0.95)); /* For Firefox 3.6 to 15 */
    //background: linear-gradient(-45deg, rgba(30, 30, 30, 0.95), rgba(50, 50, 50, 0.95));
    color: #fff;
}
.project_img_back h3 {
    margin-top: 10%;
}
.back_link {
    display: block;
    width: 60%;
    margin: 4% auto;
    border: 2px solid #999;
    padding: 0.5em;
    color: #eee;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
    box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
}
.back_link:hover {
    color: #fff;
    border-color: #eee;
}
.cert_back_link {
    margin: 30% auto;
}

/* Footer */

#footer {
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #222;
    border-top: 1px solid #b71c1c;
    color: #bbb;
    padding: 2em 5%;
    text-align: left;
    -webkit-box-shadow: 0px -3px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -3px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px -3px 5px -3px rgba(0,0,0,0.75);
}
#foot_ft_img {
    height: 3em;
    margin: -1.3em 0.5em -1.7em 0em;
    padding: 0.5em 2em;
    border-right: 1px solid #777;
    display: inline-block;
}
#footer a {
    color: #ddd;
    text-decoration: underline;
    display: inline-block;
    margin: 0em 0.5em;
    margin-bottom: 1em;
}
#footer a:hover {
    color: #fff;
}
#footer p2 {
    margin-left: 0.5em;
    font-size: 1.1em;
}
.f_text {
    display: inline-block;
    vertical-align: middle;
    text-shadow: none;
    font-size: 0.9em;
}
#foot_ft_fnt a {
    font-family: 'Prosto One', cursive;
    color: #ddd;
    text-decoration: none;
    margin: 0.3em 0em 0em 0.5em;
}
#foot_soc_net_links {
    display: inline-block;
    margin-left: 1em;
}
#foot_soc_net_links a {
    margin: 0;
    margin-left: 1em;
    text-decoration: none;
    opacity: 0.8;
}
#foot_soc_net_links a:hover {
    opacity: 1;
}
.foot_soc_img {
    height: 1.2em;
    margin-top: -1em;
    margin-bottom: -0.2em;
    margin-right: 0.2em;
}
.foot_arrow_up {
    height: 1.8em;
    width: 2.5em;
    margin-right: 2em;
    float: right;
    cursor: pointer;
    opacity: 0.8;
}
.foot_arrow_up:hover {
    opacity: 1;
}
/* Spinner from http://tobiasahlin.com/spinkit/ */
#spinner_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.spinner {
    width: 5em;
    height: 5em;
    background-color: #222;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 9em auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% { 
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}