html, body {
    text-align: center;
    color: #444;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(200,200,200,0.75);
    min-height: 100vh;
    background-color: #eee;
    background-image: url('/images/light_bg.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
    min-width: 1200px;
}
#content {
    padding-bottom: 7.3em;
}
a {
    text-decoration: none;
}
a:focus {
    outline: none;
}
button:focus{
    outline: none;
}
#header {
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #333;
    background-color: rgba(50, 50, 50, 0.9);
    padding: 0;
    border-bottom: 1px solid #b71c1c;
    border-color: rgba(183, 28, 28, 0.8);
    -webkit-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
    transition: background-color 0.3s, border-color 0.3s;
}
#header:hover {
    background-color: #333;
    border-color: #b71c1c;
}
#header a {
    color: #fff;
    display: inline-block;
    padding: 1.1em 2em;
    text-transform: uppercase;
    font-size: 0.9em;
    text-shadow: 1px 1px 1px rgba(200,200,200,0.75);
}
#header a:hover {
    background-color: #222;
    background-color: rgba(40, 40, 40, 0.7);
}
#welcome_link {
    float: left;
    margin: 0em 3em;
}
#welcome_link img {
    height: 2.2em;
    margin: -0.5em 0em -0.8em 0em;
}
#h_r_link {
    margin-right: 3em;
}
/* About */
#about_content {
    opacity: 0;
    transition: opacity 0.3s;
}
#about_top {
    background-color: #666;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(/images/darker_bg.jpg);
    background-size: 100% 100%;
    padding: 7em 10% 3em 10%;
    color: #fff;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}
#about_photo {
    display: inline-block;
    height: 15em;
    margin-right: 3em;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
#about_top_intro {
    display: inline-block;
    vertical-align: top;
    max-width: 70%;
}
#about_top_intro p1 {
    display: block;
    margin: 0em 0em 1em 1em;
}
#about_top_intro p, 
#about_top p {
    text-indent: 1em;
}
#about_top_intro a {
    color: #fff;
    font-style: italic;
}
#about_top_intro a:hover {
    text-decoration: underline;
}
#about_ps {
    font-size: 0.9em;
}
.switch_dir_h3 {
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.8);
    color: #eee;
    padding: 3em 4em 2em 6em;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    margin: 0em;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}
.sw_d_hr {
    margin: 1.2em 0em 0.7em -2.5em;
    border: 1px solid #222;
    border-top: 1px solid #b71c1c;
    border-top-color: rgba(183, 28, 28, 0.8);
}
#sw_d_btn, 
#exp_all_btn,
#cl_all_btn,
#sw_d_btn2, 
#exp_all_btn2,
#cl_all_btn2 {
    font-size: 0.7em;
    margin-left: 2em;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    color: #bbb;
}
#exp_all_btn,
#cl_all_btn,
#exp_all_btn2,
#cl_all_btn2 {
    margin-left: 7em;
    transition: opacity 0.2s
}
.cl_exp_btn_inact {
    opacity: 0.1;
    pointer-events: none;
}
#sw_d_btn:hover, 
#exp_all_btn:hover,
#cl_all_btn:hover,
#sw_d_btn2:hover, 
#exp_all_btn2:hover,
#cl_all_btn2:hover {
    color: #ddd;
}
#sw_d_sp,
#sw_d_sp2 {
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.3em;
    margin-left: 0.4em;
    font-size: 1.4em;
}
#exp_all_sp,
#cl_all_sp,
#exp_all_sp2,
#cl_all_sp2 {
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.2em;
    margin-left: 0.6em;
    font-size: 1.4em;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    text-shadow: 1px -1px 1px rgba(0,0,0,0.75);
}
#cl_all_sp,
#cl_all_sp2 {
    margin-top: -0.1em;
}
#events_div, 
#events_div_opp {
    text-align: left;
    min-height: 30em;
}
#events_div_opp {
    display: none;
}
.event_cont {
    text-shadow: 1px 1px 1px rgba(240,240,240,0.75);
}
.event_h3 {
    cursor: pointer;
    background-color: #fafafa;
    background-color: rgba(255, 255, 255, 0.4);
    color: #444;
    padding: 2em 5em 1.5em 5em;
    margin: 0;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: 0px 0px 6px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px -5px rgba(0,0,0,0.75);
}
.event_h3:hover {
    color: #333;
    background-color: #fdfdfd;
    background-color: rgba(255, 255, 255, 0.6);
}
.event_h_sep {
    margin: auto 1em;
    color: #999;
    font-weight: normal;
}
.event_desc {
    display: none;
    padding: 1.5em 5em 2em 5em;
    text-indent: 1em;
}
.event_desc a {
    color: #444;
    text-decoration: underline;
}
.event_desc a:hover {
    color: #777;
}
#ab_bottom_cont_div {
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.8);
    color: #eee;
    padding: 1.7em 6em 2.5em 6em;
    font-size: 1.2em;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    margin: 0em;
    border-top: 1px solid #999;
    -webkit-box-shadow: 0px 0px 3px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px -2px rgba(0,0,0,0.75);
}
.indent {
    padding-right: 1em;
}

.about_cert_img {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    margin: 2em 4%;
    cursor: pointer;
    transition: all 0.3s;
}
.about_cert_img:hover {
    -webkit-box-shadow: 0px 3px 7px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 7px -2px rgba(0,0,0,0.75);
}

/* Slider */
#slider_div {
    width: 100%;
    position: relative;
    background-color: #666;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(/images/darker_bg.jpg);
    background-size: 100% 100%;
    padding-top: 3.5em;
    padding-bottom: 2em;
    opacity: 0;
    transition: opacity 0.3s;
}
.slide_img_div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3.5em;
    left: 0;
}
.mySlides {
    width: 100%;
    display: none;
    position: relative;
    z-index: 100;
}
#def_f_slide {
    display: block;
}
#slide_control_img {
    width: 100%;
    opacity: 0;
}
#slider_controls {
    position: absolute;
    width: 100%;
    bottom: 2em;
    left: 0;
}
.slide_s {
    display: inline-block;
    vertical-align: bottom;
    border: 1px solid #eee;
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
    width: 0.5em;
    height: 0.5em;
    cursor: pointer;
    margin: 2px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
    position: relative;
    z-index: 151;
}
.slide_s_selected {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
}
#slider_arrows {
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
}
.display-left, 
.display-right {
    border: none;
    background-color: #eee;
    background-color: rgba(0, 0, 0, 0);
    color: #aaa;
    font-size: 3em;
    padding: 0.6em;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    position: relative;
    z-index: 150;
}
.display-left:hover {
    color: #ccc;
    text-shadow: 1px 0px 2px rgba(0,0,0,0.75);
}
.display-right:hover {
    color: #ccc;
    text-shadow: -1px 0px 2px rgba(0,0,0,0.75);
}
.display-left:active, 
.display-right:active {
    color: #ccc;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.75);
}
.display-left {
    float: left;
}
.display-right {
    float: right;
}
/* Projects */
#all_projects_div {
    opacity: 0;
    transition: opacity 0.3s;
}
.pr_h_h3 {
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.8);
    color: #eee;
    padding: 3em 4em 2em 6em;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    margin: 0;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}
.pr_h_desc {
    font-size: 0.8em;
    font-weight: normal;
}
.pr_h_hr {
    margin: 1em 0em 0.5em -2.5em;
    border: 1px solid #222;
    border-top: 1px solid #b71c1c;
    border-top-color: rgba(183, 28, 28, 0.8);
}
#new_projects,
#fccfe_projects,
#fccdv_projects,
#fccbe_projects {
    padding-bottom: 4.5em;
    padding-top: 3em;
}
.project_div {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 1% 2em 1%;
    position: relative;
}
.cert_div {
    width: 24%;
    margin: 0 4% 2em 4%;
}
.project_img {
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
    box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
}
.project_img_back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    background-color: #333;
    background-color: rgba(40, 40, 40, 0.9);
    color: #fff;
}
.project_img_back h3 {
    margin-top: 10%;
}
.back_link {
    display: block;
    width: 60%;
    margin: 4% auto;
    border: 2px solid #999;
    padding: 0.7em 0.5em;
    color: #eee;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
    box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
}
.back_link:hover {
    color: #fff;
    border-color: #eee;
}
.cert_back_link {
    margin: 30% auto;
    padding: 1em 0.7em;
}
/* Single Project */
#single_project{
    padding-top: 6em;
    padding-bottom: 3em;
    background-color: #666;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(/images/darker_bg.jpg);
    background-size: 100% 100%;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}
#single_project_left,
#single_project_right {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    text-align: left;
}
#single_project_right {
    padding-left: 5%;
}
.single_project_img {
    width: 100%;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
    box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
}
.s_pr_link {
    display: block;
    width: 80%;
    margin: 1.5em auto 0 auto;
    border: 2px solid #999;
    padding: 0.7em 0.5em;
    color: #eee;
    background-color: #555;
    background-color: rgba(70, 70, 70, 0.5);
    text-align: center;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
    box-shadow: 0px 2px 7px -2px rgba(0,0,0,1);
}
.s_pr_link:hover {
    color: #fff;
    border-color: #eee;
}
#s_pr_h3 {
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}
#s_pr_other_projects {
    padding-bottom: 4.5em;
    padding-top: 3em;
}
.s_pr_lang_icon {
    height: 2.5em;
    margin-right: 1.5em;
    margin-top: 1.5em; 
}
.s_pr_desc a {
    color: #eee;
    text-decoration: underline;
}
.s_pr_desc a:hover {
    color: #ddd;
    text-decoration: underline;
}
/* Contact */

#contact_message {
    padding: 4em 15% 4em 15%;
    background-color: #666;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(/images/darker_bg.jpg);
    background-size: 100% 100%;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    border-bottom: 1px solid #999;
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}
#send_m_hr {
    margin-bottom: 1.5em;
    border: 1px solid #444;
    border-top: 1px solid #ccc;
}
#send_message_form {
    width: 100%;
    max-width: 40em;
    margin: auto;
}
#send_message_form p {
    text-align: left;
    margin-bottom: 0.3em;
}
#send_message_form input,
#send_message_form textarea {
    width: 100%;
    padding: 0.7em;
    font-family: 'Work Sans', sans-serif;
    border: none;
    -webkit-box-shadow: inset 0px 0px 10px -5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: inset 0px 0px 10px -5px rgba(50, 50, 50, 0.75);
    box-shadow: inset 0px 0px 10px -5px rgba(50, 50, 50, 0.75);
}
#send_message_form input:focus,
#send_message_form textarea:focus {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    outline: none;
}
#send_message_form textarea {
    resize: vertical;
    margin-bottom: 0.5em;
}
#send_message_form input[type=submit] {
    background-color: #444;
    background-color: rgba(40, 40, 40, 0.5);
    color: #eee;
    border: none;
    cursor: pointer;
    padding: 0.7em;
    border-bottom: 1px solid #bbb;
    margin: 1em auto 0em 0.5em;
    box-shadow: none;
}
#send_message_form input[type=submit]:hover {
    background-color: #3b3b3b;
    background-color: rgba(50, 50, 50, 0.8);
    color: #fff;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(40, 40, 40, 0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(40, 40, 40, 0.75);
    box-shadow: 0px 1px 2px 0px rgba(40, 40, 40, 0.75);
    
}
#sending_m_btn {
    color: #eee;
    border: none;
    padding: 0.6em;
    font-size: 0.9em;
    margin: 1em auto 0em 0.5em;
    display: none;
}
#contact_soc_med {
    padding: 5em 0em 8em 0em;
}
#contact_soc_med a {
    color: #333;
    opacity: 0.9;
    margin: auto 1.5em;
}
#contact_soc_med a:hover {
    opacity: 1;
    text-decoration: underline;
}
.cont_soc_img {
    height: 2em;
    margin-right: 0.7em;
    margin-bottom: -0.7em;
}
/* Contact Popup */

#popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: none;
}
#popup_message {
    background-color: #eee;
    width: 25em;
    margin: auto;
    padding: 2.5em;
    font-size: 1.1em;
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}
#popup_ok {
    border: none;
    background-color: #444;
    color: #eee;
    margin-top: 1.5em;
    padding: 0.5em 4em;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
} 
#popup_ok:hover {
    background-color: #555;
}

/* Footer */
#footer {
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #222;
    border-top: 1px solid #b71c1c;
    border-color: rgba(183, 28, 28, 0.8);
    color: #bbb;
    padding: 2em 5%;
    text-align: left;
    -webkit-box-shadow: 0px -3px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -3px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px -3px 5px -3px rgba(0,0,0,0.75);
}
#foot_ft_img {
    height: 3em;
    margin: -1.3em 0.5em -1.7em 0em;
    padding: 0.5em 2em;
    border-right: 1px solid #777;
    display: inline-block;
}
#footer a {
    color: #ddd;
    text-decoration: underline;
    display: inline-block;
    margin: 0em 0.5em;
    margin-bottom: 1em;
}
#footer a:hover {
    color: #fff;
}
#footer p2 {
    margin-left: 0.5em;
    font-size: 1.1em;
}
.f_text {
    display: inline-block;
    vertical-align: middle;
    text-shadow: none;
    font-size: 0.9em;
}
#foot_ft_fnt a {
    font-family: 'Prosto One', cursive;
    color: #ddd;
    text-decoration: none;
    margin: 0.3em 0em 0em 0.5em;
}
#foot_soc_net_links {
    display: inline-block;
    margin-left: 1em;
}
#foot_soc_net_links a {
    margin: 0;
    margin-left: 1em;
    text-decoration: none;
    opacity: 0.8;
}
#foot_soc_net_links a:hover {
    opacity: 1;
}
.foot_soc_img {
    height: 1.2em;
    margin-top: -1em;
    margin-bottom: -0.2em;
    margin-right: 0.2em;
}
.foot_arrow_up {
    height: 1.8em;
    width: 2.5em;
    margin-right: 2em;
    float: right;
    cursor: pointer;
    opacity: 0.8;
}
.foot_arrow_up:hover {
    opacity: 1;
}
/* Spinner from http://tobiasahlin.com/spinkit/ */
#spinner_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.spinner {
    width: 5em;
    height: 5em;
    background-color: #222;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 9em auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% { 
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}